<app-header></app-header>
<div class="container">
    <div class="text-center bg">
      <h1 >About Us</h1>
      <p>Secure their future with life insurance</p>
    </div>

    <div class="main-content">
      <div class="left-content">
        <h3 style="margin-bottom: 10px;">Our Company</h3>
        <table>
          <tr>
              <td>Every day we wake up to the fact that more than 250 million lives are part of our family called LIC.

                We are humbled by the magnitude of the responsibility we carry and realise the lives that are associated with us are very valuable indeed.

                Though this journey started over six decades ago, we are still conscious of the fact that, while insurance may be a business for us, being part of millions of lives every day for the past 65 years has been a process called TRUST.

                A true saga Of Trust.</td>
          </tr>


        </table>
      </div>
      <div class="right-content">
        <div>
        <h3 style="margin-bottom: 10px;">Contact</h3>
        <p style="font-size: 20px"> Address: 13th Street. 47 W 13th St, New York, NY 10011, USA.<br></p>
      </div>
      <table>
      <tr>
        <td class="d-flex"><i class="fa fa-star checked" style="margin: 5px 0px 0 0;"></i><span style="font-size: 20px">+124536789</span></td>
      </tr>
    <tr>
    <td class="d-flex"><i class="fa fa-star checked" style="margin: 5px 10px 0 0;"></i><span style="font-size: 20px">insurancepolicies@sample.com</span></td>
    </tr>
     <tr>
        <td class="d-flex"><i class="fa fa-star checked" style="margin: 5px 10px 0 0;"></i><span style="font-size: 20px">insurancepolicies@sample.com</span></td>
      </tr>
      </table>
      </div>
    </div>
  </div>
